
ul 
	{
    	list-style-type: none;
    	margin: 0;
    	padding: 12px;
    	overflow: hidden;
	}

li 
	{
    	float: right;
		display: block;
    	color: black;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	}

.wrapper 
	{
    	text-align: center;
	




/* Change the link color to #111 (black) on hover */
li :hover 
	{
    	background-color: #111;
	}
footer 
	{
		float: left;
		list-style-type: none;
    	margin: 0;
    	padding: 12px;
    	overflow: hidden;
		
	}
	}

